//
//  Env.xcconfig.example
//  Evently-EventsExplorer
//
//  Created by Nanda WK on 2025-07-22.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

API_BASE_URL=your_api_base_url
API_KEY=your_api_key
